<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="www.dao.AdminDao">

	<select id="searchById" resultType="www.dto.MemberVo"
		parameterType="String">
		select * from Member
		<where>id like '%' || #{id} || '%' </where>
	</select>
	<select id="searchByNick" resultType="www.dto.MemberVo"
		parameterType="String">
		select * from Member
		<where>nick like '%' || #{nick} || '%' </where>
	</select>

	<select id="allmember" resultType="www.dto.MemberVo">
  <![CDATA[select * from (select * from member
		order by joindate desc) where rownum <= 30
		 ]]>
	</select>

	<select id="alldiary" resultType="www.dto.DiaryVo">
   <![CDATA[select * from (select * from diary
		order by ddate desc) where rownum <= 30
		 ]]>
	</select>

	<select id="allcommunity" resultType="www.dto.CommunityVo">
   <![CDATA[select * from (select * from community
		order by cdate desc) where rownum <= 30
		 ]]>
	</select>

	<!-- <select id="reportcomment" resultType="www.dto.CommentVo" parameterType="Integer"> 
		<![CDATA[select * from (select * from comment order by date desc) where rownum 
		<= 30 ]]> </select> -->

	<select id="searchByDNick" resultType="www.dto.DiaryVo"
		parameterType="String">
		select * from Diary
		<where> nick like '%' || #{nick} || '%' </where>
	</select>
	<select id="searchByDTitle" resultType="www.dto.DiaryVo"
		parameterType="String">
		select * from Diary
		<where> dtitle like '%' || #{dtitle} || '%' </where>
	</select>

	<select id="blacklist" resultType="www.dto.MemberVo">
 	
 	 <![CDATA[select * from (select * from member
		where reportcount>=3 order by reportcount desc) where rownum <= 30
		 ]]>

	</select>

	<select id="reportdlist" resultType="www.dto.DiaryVo">
 	
 	 <![CDATA[select * from (select * from diary
		where dreportcount>=3 order by nick desc) where rownum <= 30
		 ]]>

	</select>

	<delete id="deletediary" parameterType="Integer">
		delete from diary where idx = #{idx}
	</delete>

	<select id="reportclist" resultType="www.dto.CommunityVo">
 	
 	 <![CDATA[select * from (select * from community
		where creportcount>=3 order by nick desc) where rownum <= 30
		 ]]>
	</select>

	<delete id="deletecommunity" parameterType="Integer">
		delete from community where idx = #{idx}
	</delete>


	<select id="searchByCNick" resultType="www.dto.CommunityVo" parameterType="String">
		select * from community
		<where> nick like '%' || #{nick} || '%' </where>
	</select>
	<select id="searchByCTitle" resultType="www.dto.CommunityVo" parameterType="String">
		select * from community
		<where> ctitle like '%' || #{ctitle} || '%' </where>
	</select>
	
	<select id="oneMember" resultType="www.dto.MemberVo" parameterType="String">
	 	select * from member where id = #{id}
	</select>


</mapper>