<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.dao.CommunityDao">
<!--   <select id="selectBlog" resultType="Blog">
    select * from Blog where id = #{id}
  </select> -->
  
  <insert id="communityinsert" parameterType="www.dto.CommunityVo">
  insert into COMMUNITY(IDX,ID,NICK,CTITLE,CONTENTS,SDATE,EDATE,CDATE,CHITCOUNT,CREPORTCOUNT,CPLACE,CAR,ATTENDEE,GENDER)
  values(COMMUNITY_SEQ.NEXTVAL,#{id},#{nick},#{ctitle},#{contents},#{sdate},#{edate},sysdate,#{chitcount},#{creportcount},#{cplace},#{car},#{attendee},#{gender})
  
  </insert>
  
  <select id="oneCommunity" parameterType="Integer" resultType="www.dto.CommunityVo">
  
  select * from COMMUNITY where idx=#{idx}
  
  </select>
  
   <select id="ccomment" parameterType="Integer" resultType="www.dto.CommentVo">
  
  select * from ccomment where LINKEDIDX=#{idx} order by idx
  
  </select>
  
  
  <insert id="ccommentinsert" parameterType="www.dto.CommentVo">
  insert into CCOMMENT(IDX,NICK,CONTENTS,CDATE,LINKEDIDX)
  values(CCOMMENT_SEQ.NEXTVAL,#{nick},#{contents},sysdate,#{linkedidx})
  
  </insert>
  <delete id="deleteccomment" parameterType="Integer">
  delete from CCOMMENT where idx=#{idx}
  </delete>
  
  <delete id="deletecommunity" parameterType="Integer">
  delete from COMMUNITY where idx=#{idx}
  </delete>
  
  <update id="updatecommu" parameterType="www.dto.CommunityVo">
  update community set ctitle=#{ctitle},contents=#{contents},sdate=#{sdate},edate=#{edate},cplace=#{cplace},car=#{car},attendee=#{attendee},gender=#{gender} where idx=#{idx}
  
  </update>
  
  <select id="csearch" resultType="www.dto.CommunityVo" parameterType="www.dto.CommunityVo">
  
  select * from community where 1=1
  <if test="cplace neq '지역'">
  	and cplace=#{cplace}
  </if> 
  <if test="gender neq 'anything'">
  	and gender=#{gender}
   </if> 
	<if test="sdate neq ''">
  	<![CDATA[and sdate>=#{sdate} ]]>
  </if> 
  <if test="edate neq ''">
  	<![CDATA[and edate<=#{edate} ]]>
  </if> 	
	<if test="ctitle eq '전체'">
	and ctitle like '%' || #{contents} || '%' or contents like '%' || #{contents} || '%' or nick like '%' || #{contents} || '%'
	</if>
  <if test="ctitle eq 'ctitle'">
  	and ctitle like '%' || #{contents} || '%'
  </if>
  <if test="ctitle eq'contents'">
  	and contents like '%' || #{contents} || '%'
  </if>
  <if test="ctitle eq 'nick'">
  	and nick like '%' || #{contents} || '%'
  </if>   
 	order by idx desc
 
  </select>
  
   <insert id="hitcounted" parameterType="www.dto.HitCountVo">
  insert into CHITCOUNT values(CHITCOUNT_SEQ.NEXTVAL,#{linkedidx},#{id})
  </insert>
  
   <select id="hitCountChk" resultType="www.dto.HitCountVo" parameterType="www.dto.HitCountVo">
    select * from CHITCOUNT where ID = #{id} and LINKEDIDX = #{linkedidx}
  </select>
  
   <update id="chitcount" parameterType="www.dto.CommunityVo">
  	update COMMUNITY set CHITCOUNT = #{chitcount} where IDX=#{idx}
  </update>
  
  <insert id="creportinsert" parameterType="www.dto.ReportVo">
   insert into CREPORT values(CREPORT_SEQ.NEXTVAL,#{reporter},#{witerid},#{title},#{type},#{reason},#{linkedidx})
  </insert>
  
  <update id="creportup" parameterType="www.dto.ReportVo" keyProperty="idx">
  update COMMUNITY set CREPORTCOUNT=(#{idx}+1) where idx=#{linkedidx}
  <selectKey keyProperty="idx" order="BEFORE" resultType="Integer"  >
  		select CREPORTCOUNT from COMMUNITY where idx = #{linkedidx}
  </selectKey>
  </update>
  
   <insert id="ccreportinsert" parameterType="www.dto.ReportVo">
   insert into CCREPORT values(CCREPORT_SEQ.NEXTVAL,#{reporter},#{witerid},#{type},#{reason},#{linkedidx})
  </insert>
  
  
   <update id="ccreportup" parameterType="www.dto.ReportVo" keyProperty="idx">
  update COMMUNITY set CCREPORTCOUNT=(#{idx}+1) where idx=#{linkedidx}
  <selectKey keyProperty="idx" order="BEFORE" resultType="Integer"  >
  		select CREPORTCOUNT from COMMUNITY where idx = #{linkedidx}
  </selectKey>
  </update>
  
  
</mapper>