<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.dao.MyPageDao">

<!-- 회원정보수정  -->
<update id="updateinfo" parameterType="www.dto.MemberVo">
	update member set PASSWORD=#{password},NAME=#{name},GENDER=#{gender},BIRTH=#{birth},EMAIL=#{email},PHONE=#{phone},ADDR=#{addr},PWQ=#{pwq},ANSWER=#{answer},PICTURE=#{picture} Where ID=#{id}
</update>
<!-- 회원탈퇴 -->
<delete id="deleteinfo" parameterType="String">
	delete FROM member WHERE ID=#{id}

</delete>
<!-- 내가 쓴 여행일지 글 -->
<select id="mydiary" parameterType="String" resultType="www.dto.DiaryVo">
	select * from diary where id=#{id}
<!-- 내가 쓴 만남의장 글 -->
</select>
<select id="mycommu" parameterType="String" resultType="www.dto.CommunityVo">
	select * from COMMUNITY where id=#{id}
</select>
<!-- 쪽지함 보기 -->
<select id="msg" parameterType="String" resultType="www.dto.MsgVo">
	select * from MSG where RECEIVERID =#{id} order by idx desc
</select>
<!-- 쪽지삭제 -->
<delete id="deletemsg" parameterType="int">
	delete FROM msg where idx=#{idx}
</delete>

</mapper>