<!DOCTYPE html>

<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<table class="table table-striped table-hover table-bordered">
<tbody>
    <tr>
       <td>지역</td>
         <td>
         <form action="#">
           <select name="지역">
           <option value="서울">서울</option>
           <option value="부산">부산</option>
           <option value="대전">대전</option>
           <option value="광주">광주</option>
           </select>
         </form>
      </td>
    </tr>
    <tr>
       <td>성별</td>
         <td>
             <input type="radio" name="gender" value="male" checked> 상관없음
             <input type="radio" name="gender" value="male"> 남
           <input type="radio" name="gender" value="female"> 여
      </td>
    </tr>
    <tr>
       <td>여행날짜</td>
         <td>
            <form action="/action_page.php">
            여행날짜:
          <input type="date" name="bday">
          ~
           <input type="date" name="bday">
         </form>
      </td>
    </tr>
    	<tr>
         	<td colspan="2"> 
         	<form action="#">
           <div>
          		 <select name="제목">
           		<option value="제목">제목</option>
           		<option value="내용">내용</option>
           		<option value="닉네임">닉네임</option>
           		</select>
          
           <input type="text" placeholder="검색어 입력">
           <button>검색</button>
           <button>글쓰기</button>
           </div>
     		 </form>
      
     		 </td>
    	</tr>
	</tbody>
	</table>
	
	<table class="table table-striped table-hover table-bordered">
  		<thead class="thead-dark">
    	<tr>
      		<th>NO</th>
      		<th>닉네임</th>
      		<th>제목</th>
      		<th>지역</th>
      		<th>인원</th>
      		<th>모인인원</th>
      		<th>여행날짜</th>
      		<th>차량유무</th>
    	</tr>
  		</thead>
  		<tbody>
    		<tr>
      			<td>1</td>
      			<td>반드래곤</td>
      			<td>속초로 가자</td>
      			<td>제주도</td>
      			<td>4명</td>
      			<td>남자2</td>
      			<td>2017-10-01 ~ 2017-10-01</td>
      			<td>
      			<input type="checkbox" name="chk_info" value="car">
      			</td>
    		</tr>
 		</tbody>
 	</table>

</body>
</html>