<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<body>
	<div class="wrap">
		<%@ include file="../layout/header.jsp"%>
	<div class="container">
	<div class="contents" >
	<h1>만남의 장</h1>
	<table class="table table-striped table-hover table-bordered">
		<tbody>
    	<tr>
       		<td>지역</td>
         	<td>
        		<form action="#">
           			<select name="지역">
           				<option value="서울">서울</option>
           				<option value="부산">부산</option>
           				<option value="대전">대전</option>
           				<option value="광주">광주</option>
           			</select>
         		</form>
      		</td>
    	</tr>
    	<tr>
       		<td>성별</td>
         	<td>
            	<input type="radio" name="gender" value="male" checked> 상관없음
             	<input type="radio" name="gender" value="male"> 남
           		<input type="radio" name="gender" value="female"> 여
      		</td>
    	</tr>
    	<tr>
       		<td>여행날짜</td>
         	<td>
            	<form action="/action_page.php">
            	여행날짜:
          		<input type="text" name="bday">
          		~
           		<input type="text" name="bday">
         		</form>
      		</td>
    	</tr>
    	<tr>
         	<td colspan="2"> 
         	<form action="#">
           		<div>
          			<select name="제목">
           			<option value="제목">제목</option>
           			<option value="내용">내용</option>
           			<option value="닉네임">닉네임</option>
           			</select>
          
           			<input type="text" placeholder="검색어 입력">
           			<button>검색</button>
           			<button onclick="location.href='/communitywrite.do'">글쓰기</button>
           		</div>
     		 </form>
           	</td>
    	</tr>
		</tbody>
		</table>
	
	
	
	
	
	
	
	
	</div>
	</div>
	</div>
	



</body>
</html>